#schemaOutliner {
  display: flex;
  flex-direction: column;
  padding: 10px;
  h1 {
    .ep {
      font-size: 12px;
    }
  }
  #collectionsOutlines {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
